<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Verify your email</title>
    <style>
      .default-button {
        outline: none;
        <!-- style=" " -->
        font-style: normal;
        background-color: #0076C2;
        border: 2px solid #0076C2;
        color: #fafafa;
        width: 7.5rem;
        height: 2.5rem;
        padding: 0 .75rem;
        border-radius: 6px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, .25);

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        transition: ease-in-out .4s;
        cursor: pointer;

      }
    </style>
  </head>
  <body style="margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0;padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;">
  <table width="100%" border="0" cellspacing="10" cellpadding="0" class="wrapper">
    <tr>
      <td align="center" valign="top" style="text-align:center;">
        <table border="0" cellspacing="0" cellpadding="5" class="main" width="600"
               style="text-align: left; margin-left: auto; margin-right: auto;">
          <!-- EMAIL HEADER GOES HERE -->
          <h2>Please verify your email!</h2><br/>
        </table>
      </td>
    </tr>
    <tr>
      <td  align="center" valign="top" style="text-align:center;">
        <table border="0" cellspacing="0" cellpadding="10" class="main"
               style="text-align: left; margin-left: auto; margin-right: auto;"  width="600">
          <hr>
          <!-- EMAIL CONTENT -->
          <p>Hi {{ user_name }}</p>
          <br/>
          <p>
            To activate your Arclytics Sim account please <em>verify the email</em> address you provided during registration by clicking the button below.
          </p>
          <br/>
          <!-- TODO(andrew@neuraldev.io): Make this a button. -->
            <a href="{{ confirm_url }}" style="text-decoration: none; text-decoration-color: #fafafa;">
            <button onclick="window.location.href='{{ confirm_url }}';" class="default-button"
            style="font-style: normal;
            background-color: #0076C2;
            border: 2px solid #0076C2;
            color: #fafafa;
            width: 7.5rem;
            height: 2.5rem;
            padding: 0.5rem;
            border-radius: 6px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, .25);
            transition: ease-in-out .4s;
            cursor: pointer;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            ">
                Confirm Email
            </button>
            </a>
          <br/>
          <p>
            If you are having trouble with this process, please contact our team at <a href="mailto:help@arclytics.io">help@arclytics.io</a>.
          </p>
          <p>We're here to help.</p>
          <br/>
          <br/>
          <p>Cheers,</p>
          <h4>The Arclytics Team</h4>
          <hr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" valign="top" style="text-align: center;">
        <table border="0" cellspacing="0" cellpadding="10" class="main"width="600"
               style="text-align: left; margin-left: auto; margin-right: auto;">
          <!-- EMAIL FOOTER GOES HERE -->
          <p>This message was sent by the team behind:</p>
          <br/>
          <img src="https://storage.googleapis.com/arclytics/imgs/email_footer_logo.png"
               alt="Arclytics Logo" width="50%" height="auto"/>
        </table>
      </td>
    </tr>
  </table>
  </body>
</html>
