$bg-img: url('../../../assets/login_register_bg.png');
$bg-img-dark: url('../../../assets/login_register_bg_dark.png');

.outer{
  height:100vh;
  width:100vw;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: var(--n0) $bg-img no-repeat;
  background-size: 100% 150%;
  background-position: 40vw;
  position: relative;
  overflow-y: scroll;
}

html[data-theme="dark"] {
  .outer {
    background: var(--n0) $bg-img-dark no-repeat;
    background-position: 40vw;
  }
}

.logoContainer{
  margin-left: 11.25rem;
  width: 23.75rem;
  height: 3.750625rem;
  margin-bottom: 7.624375rem;
  .logo{
    height: 3.750625rem;
    margin-right: 1.5rem;
    float:left;
  }
  h3{
    padding-top: 0.4rem;
  }
}

@media only screen and (max-height: 830px) {
  .logoContainer{
    margin-bottom: 2.8125rem
  }
}

.help{
  //float:right;
  cursor: pointer;
  color: var(--arc500);
  //margin-bottom: 3rem;
  //margin-right: 0.774375rem;
}

.loginForm{
  position: absolute;
  margin-left: 11.25rem;
  width: 25rem;

  .createAccount{
    color:var(--arc500);
  }

  .email{
    margin-bottom: 1.5rem;
    height: 2.25rem;
  }

  .password{
    margin-bottom: 2rem;
    height: 2.25rem;
  }

  .otherLinks {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .signIn{
    margin-bottom: 1rem;
  }

  .clear{
    margin-top: 5.1825rem;
  }

  .policy {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 2.25rem;
    padding-left: 0.15rem;

    p:last-of-type { margin-left: 1em; }

    .links {
      color: var(--n500);
    }
  }
}

.buttonGroup {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
}

.fadeLeftOut{
  pointer-events: none;
  animation: fadeLeftOut 1s;
  animation-fill-mode: forwards;
}

.fadeRightIn{
  pointer-events: auto;
  animation: fadeRightIn 1s;
  animation-fill-mode: forwards
}

.forgotPwdForm{
  margin-left: 11.25rem;
  width: 23.75rem;
  height: 35vh;
  pointer-events: none;
  opacity: 0;
  display: flex;
  flex-flow: column;

  & > span {
    margin-bottom: 1.5rem;
  }
}

.fadeLeftIn{
  pointer-events: auto;
  animation: fadeLeftIn 1s;
  animation-fill-mode: forwards;
}
.fadeRightOut{
  pointer-events: none;
  animation: fadeRightOut 1s;
  animation-fill-mode: forwards;
}


@keyframes fadeLeftOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-120%);
  }
}

@keyframes fadeLeftIn{
  from{
    opacity: 0;
    transform: translateX(120%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRightOut{
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(120%);
  }
}

@keyframes fadeRightIn{
  from {
    opacity: 0;
    transform: translateX(-120%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.header{
  margin-bottom: 2.5rem;
}
