@import '../../../styles/animation';

.main {
  width: 80%;
  padding-right: 30%;
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.inputHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h3.heading {
    margin-right: 3rem;
  }

  span.status {
    font-style: italic;
    margin-bottom: 1.8rem;
  }

  .headingGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    h3.heading {
      margin-right: 2rem;
    }

    Button {
      margin-bottom: 2.3rem;
    }
  }

}

.inputRow {
  margin-bottom: 1rem;

  & > span {
    width: 7rem;
  }
}

.buttonGroup {
  align-self: flex-end;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;

  & > Button:last-of-type {
    margin-left: 1.5rem;
  }
}

.passwordGroup {
  display: flex;
  flex-direction: column;

  .inputRow {
    & > span {
      width: 15rem;
    }
  }
}