@import '../../../styles/colors_light';

.compSidebar {
  width: 25vw;
  height: 100vh;
  margin-left: 4rem;
  position: fixed;

  @media screen and (max-width: 1720px) {
    width: 400px;
  }
}

.main {
  margin-left: calc(4rem + 25vw);
  width: calc(100vw - calc(4rem + 25vw));
  padding: 2.5rem 3rem 2.5rem 2.5rem;

  @media screen and (max-width: 1720px) {
    margin-left: calc(4rem + 400px);
    width: calc(100% - calc(4rem + 400px));
  }

  header {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    
    h3 {
      margin-right: 1rem;
    }
  }

  .configForm {
    margin-bottom: 2.5rem;
  }

  .results {
    // margin-top: 1rem;

    & > h3 {
      margin-bottom: 1.5rem;
    }
    
    .charts {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;

      .line {
        flex-basis: 45%;

        & > h5 {
          margin-bottom: .5rem;
        }
      }
    }
  }
}