.compSidebar {
  width: 20rem;
  height: 100vh;
  margin-left: 4rem;
  position: fixed;
}

.main {
  margin-left: calc(4rem + 20rem);
  width: calc(100vw - calc(4rem + 20rem));
  padding: 2rem 2.5rem 2.5rem 2.5rem;

  header {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    justify-content: space-between;

    h4 {
      margin-right: 1rem;
    }

    .config {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .actions {
      display: flex;
      flex-direction: row;

      Button {
        margin-left: 0.5rem;
      }
    }
  }

  .configForm {
    margin-bottom: 2.5rem;
  }

  .results {
    margin-bottom: 2.5rem;

    & > h4 {
      margin-bottom: 1.5rem;
    }
    
    .charts {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;

      .line {
        flex-basis: 45%;
        min-height: 28rem;
        max-height: 35rem;
        // z-index: 1;
        position: relative;
        display: flex;
        flex-flow: column;

        & > h5 {
          margin-bottom: .5rem;
        }

        & > div {
          flex-grow: 1;
        }
      }
    }
  }

  .custom {
    & > header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;

      & > h4 { margin-right: 1rem; }
    }

    & > div {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;

      .userConfig {
        flex-basis: 30%;
      }
    }
  }
}
