[submodule "services/simcct/arc_simulation"]
	path = services/simcct/arc_simulation
	url = git@bitbucket.org:neuraldev/arc_simulation.git
	branch = develop
[submodule "arclytics.io"]
	path = arclytics.io
	url = git@bitbucket.org:neuraldev/arclytics.io.git
    branch = develop
[submodule "services/simcct/flask-fluentd-logger"]
	path = arclytics.io
	url = https://github.com/codeninja55/flask-fluentd-logger.git
    branch = develop
