*.sh text eol=lf
deploy-prod.sh text eol=lf
deploy-dev.sh text eol=lf
style_python.sh text eol=lf
arclytics.sh text eol=lf
./services/swagger/docker-run.sh text eol=lf
./services/arclytics/docker-entrypoint.sh text eol=lf
./services/db/drop_all.sh text eol=lf
