[submodule "services/simcct/arc_simulation"]
	path = services/simcct/arc_simulation
	url = git@bitbucket.org:neuraldev/arc_simulation.git
	branch = develop
[submodule "arclytics.io"]
	path = arclytics.io
	url = git@bitbucket.org:neuraldev/arclytics.io.git
