<img src="http://www.uow.neuraldev.io/static/logo_300.png" alt="Arclytics Logo" width="7.5%" height="auto"/>
<h2>Welcome to Arclytics Sim!</h2>
<br/>
<p>Dear {{ user_name }}</p>
<br/>
<p>
    To activate your Arclytics Sim account please <em>verify the email</em> address
    you provided during registration by clicking the link below or by entering
    the URL in your browser.
</p>

<p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>
<br/>
<p>
    If you are having trouble with this process, please contact our team.
    We're here to help.
</p>
<br/>
<br/>
<p>Regards,</p>
<h4>The Arclytics Team</h4>
