@import '../../../styles/colors_light';
@import '../../../styles/typography';

.modal {
  position: fixed;
  right: 18rem !important;
  top: 2.1rem !important;
  //padding: 0 !important;
  padding: 3.5rem 2.5rem 2rem 2.5rem !important;
  width: 35vw !important;
  //height: fit-content !important;

  header {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 0.5rem;

    h4 {
      position: absolute;
      top: 1.5rem;
      left: 2.5rem;
    }
  }

  .closeButton {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
  }

  .linkButtonContainer {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;

    Button {
        margin-right: 0.75rem;
      }

    Button:last-of-type {
      margin-right: 0;
    }
  }

  .emailButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .exportButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
