@import '../../../styles/typography';

.section {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 1.5rem 0;
  cursor: pointer;

  .icons {
    position: relative;

    .icon {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 1;

      &.hidden {
        opacity: 0;
      }
    }
  }
}

.childrenContainer > * {
  margin: 0.25rem 0;
}
