@import '../../../styles/animation';

.tooltip {
  background-color: rgba(var(--n900-rgb), 0.9);
  color: var(--n0);
  width: max-content;
  max-width: 35rem;
  border-radius: 6px;
  padding: .5rem .75rem;
  box-sizing: border-box;
  transition: $ease-in-cubic all .4s;
  position: fixed;
  transition: opacity 0.4s;
  transition-delay: 0.2s;

  opacity: 0;
  pointer-events: none;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }
}
