@import '../../../styles/colors_light';

.default {
  // disable default button styling
  border: none;
  outline: none;

  // default buton style
  background-color: $ag500;
  border: 2px solid $ag500;
  color: $n0;
  width: 7.5rem;
  height: 2.5rem;
  padding: 0 .75rem;
  border-radius: 6px;
  box-shadow: $base-shadow;
  transition: ease-in-out .4s;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: adjust-color($color: $ag500, $saturation: 20%);
    border-color: adjust-color($color: $ag500, $saturation: 20%);
    box-shadow: $shadow-up;
  }

  &.disabled {
    background-color: $n300;
    border-color: $n300;
    color: $n50;
  }
}

.outline {
  @extend .default;
  background-color: transparent;
  color: $ag500;
  border: 2px solid $ag500;
  box-shadow: none;

  &:hover {
    background-color: adjust-color($color: $ag500, $saturation: 20%);
    border-color: adjust-color($color: $ag500, $saturation: 20%);
    box-shadow: none;
    color: $n0;
  }

  &.disabled {
    background-color: transparent;
    border-color: $n100;
    color: $n100;
  }
}

.text {
  @extend .default;
  background-color: transparent;
  color: $ag500;
  border: none;
  box-shadow: none;

  &:hover {
    background-color: $n50;
    box-shadow: none;
  }

  &.disabled {
    background-color: transparent;
    border: none;
    color: $n100; 
  }
}

.dangerous {
  @extend .default;
  background-color: $r400;
  border-color: $r400;

  &:hover {
    background-color: adjust-color($color: $r400, $saturation: 20%);
    border-color: adjust-color($color: $r400, $saturation: 20%);
    box-shadow: $shadow-up;
  }
}

.warning {
  @extend .default;
  background-color: $o400;
  border-color: $o400;
  color: $n900;

  &:hover {
    background-color: adjust-color($color: $o400, $saturation: 20%);
    border-color: adjust-color($color: $o400, $saturation: 20%);
    box-shadow: $shadow-up;
  }
}

.disabled {
  cursor: not-allowed;
}

.short {
  width: 5rem;
}

.long {
  width: 10rem;
}