.card {
  min-height: 20rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background-color: var(--n0);
  padding: 1.5rem 0.75rem 0 0.75rem;
  margin: 0.25rem;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
}

// experimental theming properties
//
// html[data-theme="dark"] {
//   .card {
//     background-color: var(--n10);
//     box-shadow: none;
//   }
// }
