@import '../../../styles/colors_light';

.withPrefix {
  padding-left: 2rem;
}

.withSuffix {
  padding-right: 2rem;
}

.inputContainer {
  position: relative;

}

.suffix {
  position: absolute;
  top: 50%;
  right: .75rem;
  transform: translateY(-50%);
  color: $n600;
}

.prefix {
  position: absolute;
  top: 50%;
  left: .75rem;
  transform: translateY(-50%);
  color: $n600;
}