.container {
  display: flex;
  flex-flow: column nowrap;
  //height: 60px;
  width: 7.5rem;
  position:relative;
}

.input {
  // remove default styles
  border: none;
  outline: none;

  // layout
  width: 100%;
  height: 2.25rem;
  padding: .5rem .75rem;

  // border
  border-radius: 6px;
  border: 1px solid transparent;

  // colour
  background-color: var(--n10);
  color: var(--n900);

  &::placeholder {
    color: var(--n600);
  }

  &:hover:not([disabled]) {
    background-color: var(--n20);
  }

  &:focus {
    background-color: var(--n0);
    border-color: var(--arc500);
  }

  &:disabled {
    color: var(--n300);

    &::placeholder {
      color: var(--n300);
    }
  }
}

.short {
  width: 7rem;
}

.long {
  width: 10rem;
}

.stretch {
  width: 100%
}

.errorContainer {
  position: absolute;
  width: 1rem;
  height: 1rem;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  .icon {
    color: var(--r400);
    width: 1rem;
    height: 1rem;
  }
}

.error {
  background-color: rgba(var(--r500-rgb), 0.1);
  border: 1px solid var(--r500);

  &:hover {
    background-color: rgba(var(--r500-rgb), 0.2);
    border-color: 1px solid var(--r500);
  }
  &:hover:not([disabled]) {
    background-color: rgba(var(--r500-rgb), 0.2);
  }
  &:focus {
    background-color: var(--n0);
    border-color: var(--r500);
  }
}

.withPrefix {
  padding-left: 2rem;
}

.withSuffix {
  padding-right: 2rem;

  &.error {
    padding-right: 4rem;
  }
}

.suffix {
  position: absolute;
  top: 50%;
  right: .75rem;
  transform: translateY(-50%);
  color: var(--n600);

  &.withError {
    right: 2.25rem;
  }
}

.prefix {
  position: absolute;
  top: 50%;
  left: .75rem;
  transform: translateY(-50%);
  color: var(--n600);
}
