.container {
  display: flex;
  flex-flow: column nowrap;
  //height: 60px;

  & > span {
    color: var(--r500);
    margin-top: .25rem;
  }
}

.input {
  // remove default styles
  border: none;
  outline: none;

  // layout
  width: 7.5rem;
  height: 2.25rem;
  padding: .5rem .75rem;

  // border
  border-radius: 6px;
  border: 1px solid transparent;

  // colour
  background-color: var(--n10);
  color: var(--n900);

  &::placeholder {
    color: var(--n600);
  }

  &:hover:not([disabled]) {
    background-color: var(--n20);
  }

  &:focus {
    background-color: var(--n0);
    border-color: var(--arc500);
  }

  &:disabled {
    color: var(--n300);

    &::placeholder {
      color: var(--n300);
    }
  }
}

.short {
  width: 7rem;
}

.long {
  width: 10rem;
}

.stretch {
  width: 100%
}

.errorIcon{
  color:red;
  position:fixed;
  margin: 0.35rem 0 0 0.35rem;
}

.error {
  background-color: rgba(var(--r500-rgb), 0.1);
  border: 1px solid var(--r500);

  &:hover {
    background-color: rgba(var(--r500-rgb), 0.2);
    border-color: 1px solid var(--r500);
  }
  &:hover:not([disabled]) {
    background-color: rgba(var(--r500-rgb), 0.2);
  }
  &:focus {
    background-color: var(--n0);
    border-color: var(--r500);
  }
}
