@import '../../../styles/animation';

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 9999;
  transition: $ease-in-out-cubic all .6s;

  opacity: 0;
  pointer-events: none;
  
  &.show {
    opacity: 1;
    pointer-events: initial;
  }
}

.modal {
  width: 42rem;
  height: 4.5rem;

  &.form {
    width: 32rem;
    height: 44rem;
    max-height: initial;
  }
}

.asking {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2.5rem;

  & > h6 {
    margin-right: 2.5rem;
  }

  & > Button:first-of-type {
    margin-right: .5rem;
    margin-left: auto;
  }
}

.getting {
  padding: 2.5rem 2.5rem;
  width: 30rem;
  margin: auto;

  & > h4 {
    margin-bottom: .5rem;
  }

  & > p {
    margin-bottom: 2rem;
  }

  & > h6 {
    margin-bottom: 1.25rem;
    color: var(--n700);
  }

  & > .rating {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .individualRate {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      .ratingIcon {
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        transition: $ease-in-out-cubic all .2s;
        margin-bottom: .5rem;
      }

      .text {
        position: relative;
        opacity: 0;
        top: -.5rem;
        transition: $ease-in-out-cubic all .2s;
      }

      &:hover, &:focus , &.active {
        .ratingIcon {
          transform: scale(1.1);
        }

        .text {
          opacity: 1;
          top: 0;
        }
      }
    }
  }

  & > .select {
    margin-bottom: 1.5rem;
  }

  & > .buttonGroup {
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
    flex-flow: row wrap;
    
    Button:first-of-type {
      margin-right: 1.5rem;
    }
  }
}

.rate1:hover, .rate1:focus, .rate1.active {
  .ratingIcon { stroke: var(--r500); }
}

.rate2:hover, .rate2:focus, .rate2.active {
  .ratingIcon { stroke: var(--o500); }
}

.rate3:hover, .rate3:focus, .rate3.active {
  .ratingIcon { stroke: var(--arc500); }
}

.rate4:hover, .rate4:focus, .rate4.active {
  .ratingIcon { stroke: var(--t500); }
}

.rate5:hover, .rate5:focus, .rate5.active {
  .ratingIcon { stroke: var(--g500); }
}
