@import '../../../styles/typography';

.container {
  display: flex;
  flex-flow: column nowrap;

  & > span.error {
    margin-top: .25rem;
    align-self: flex-end;

    &.active {
      color: var(--r500);
      box-shadow: 0 1 1 rgba(var(--r500-rgb), 0.2);
    }
  }
}

.textarea {
  // remove default styles
  border: none;
  outline: none;
  font-family: $font-primary;

  // remove resizeable
  resize: none;

  // layout
  width: 7.5rem;
  height: auto;
  padding: .5rem .75rem;

  // border
  border-radius: 6px;
  border: 1px solid transparent;

  // colour
  background-color: var(--n10);
  color: var(--n900);

  &::placeholder {
    color: var(--n600);
    font-family: $font-primary;
  }

  &:hover:not([disabled]) {
    background-color: var(--n20);
  }

  &:focus {
    background-color: var(--n0);
    border-color: var(--arc500);
  }

  &:disabled {
    color: var(--n300);

    &::placeholder {
      color: var(--n300);
    }
  }

  &.errored {
    border-color: var(--r500);
    box-shadow: 0 0px 15px rgba(var(--r500-rgb), 0.2);
  }
}

.short {
  width: 7rem;
}

.long {
  width: 10rem;
}

.stretch {
  width: 100%
}
