@import '../../../styles/colors.scss';

$break-small: 1366px;

.container {
  width: 90%;
  margin: auto;

  h3 {
    margin-bottom: 2.5rem;
  }

  h4 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  h5 {
    margin-top: 1.75rem;
    margin-bottom: 0.75rem;
  }

  .generalData {
    display: flex;
    margin-top: 1.25rem;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    .generalDataCard {
      background-color: var(--n0);
      min-height: 12rem;
      max-height: 15rem;
      margin-top: 1.25rem;
      padding: 0;
      display: flex;
      min-width: 15.5%;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;

      & > .cardIcon {
        width: 2.25rem;
        height: 2.25rem;
      }
    }
  }

  .chart {
    background-color: var(--n0);
    margin-top: 1.25rem;
    min-height: 35rem;

    .liveLoginCard {
      background-color: var(--n0);
      flex-basis: 90%;
      min-height: 35rem;
      max-height: 42rem;
      min-width: 90%;
      margin: 0;
      z-index: 1001;
      position: relative;
      display: flex;
      flex-flow: column;

      & > div {
        flex-grow: 1;
      }
    }
  }

}
