.sidebar {
  width: 100%;
  height: 100%;
  box-shadow: 3px 0 6px rgba($color: #000000, $alpha: .16);
  padding: 2rem 2rem 4rem 2.5rem;

  display: flex;
  flex-flow: column;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h4 {
      margin-right: 1rem;
      line-height: 2.5rem;
    }
  }

  .table {
    flex-grow: 1;
  }

  .btn {
    align-self: center;
    flex-shrink: 0;
  }
}
