.form {
  flex-shrink: 0;

  .selectInline {
    display: flex;
    flex-flow: row;
    align-items: center;

    h6 {
      margin-right: 1rem;
    }
  }

  .heading {
    margin-bottom: .75rem;
  }

  .select {
    margin-bottom: 1rem;
  }

  margin-bottom: 2rem;
}