$bg-img: url('../../../assets/login_register_bg.png');
.outer{
  height:100vh;
  width:100vw;
  padding: 5rem 0rem 5rem 11.25rem;
  background: var(--n0) $bg-img no-repeat;
  background-size: 100% 150%;
  background-position: 40vw;
  // display: flex;
  // flex-flow: column;
  // justify-content: flex-start;
}

.logoContainer{
  width: 23.75rem;
  height: 3.750625rem;
  margin-bottom: 7.624375rem;
  flex: 3;
  .logo{
    height: 3.750625rem;
    margin-right: 1.5rem;
    float:left;
  }
  h3{
    padding-top: 0.4rem;
  }
}

.form {
  width: 23.75rem;
  height:  40vh;
  display: flex;
  flex: 5;
  flex-flow: column;
  justify-content: space-evenly;
  .error{
    color: --var(r400);
  }
}

.cnfrmModal{
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  span{
    text-align: center;
    margin-bottom: 1rem;
  }
}