.pagination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;

  .pageNum {
    margin-right: 2.5rem;
  }

  .button {
    width: 2.25rem;
    height: 2.25rem;
    background-color: var(--n10);
    border-radius: 50%;

    &:first-of-type {
      margin-right: 1rem;
    }

    .icon {
      height: 1rem;
      width: 1rem;
      color: var(--n500);
      flex-shrink: 0;
    }
  }

  .button.disabled {
    background-color: rgba(var(--n10-rgb), $alpha: .5);
    .icon {
      color: rgba(var(--n500-rgb), $alpha: .3);
    }
  }
}
