.App {
  height: 100%;
  width: 100%;
  background-color: var(--n0);
  overflow-x: hidden;
}

.snackbar__button {
  color: var(--n0);
}

div#temp-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}