.wrapper {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  width: initial;
  max-width: 30rem;
  min-height: 20rem;
  max-height: 30rem;
  z-index: 1001;
}

.noData {
  margin-left: 2.5rem;
  margin-right: 2rem;
}