.first {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-bottom: 2rem;

  &>div:first-of-type {
    margin-right: 3rem;
  }
}

.second {
  margin-bottom: 2rem;

  & > h5 {
    margin-bottom: 1rem;
  }

  .configRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    & > div {
      margin-right: 3rem;
    }

    & > div > h6 {
      margin-bottom: .75rem;
    }

    & > div > .configGroup {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      margin-bottom: .75rem;

      & > div:first-of-type {
        margin-right: 1.5rem;
      }
    }
  }
}

.third {
  margin-bottom: 2rem;

  & > h5 {
    margin-bottom: .75rem;
  }

  .configGroup {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: .5rem;

    & > div:first-of-type {
      margin-right: 1.5rem;
    }
  }
}

.longPadInput {
  padding-right: 3.5rem;
}

.shortCheckbox {
  width: 3rem;
}