.main {
  margin-left: calc(4rem);
  width: calc(100vw - calc(4rem));
  padding: 2.5rem 2.5rem;
}

.chart {
  min-height: 35rem;
  // max-height: 45rem;
  max-width: 60%;
  // position: relative;
  // display: flex;
  // flex-flow: column;

  // & > h5 {
  //   margin-bottom: .5rem;
  // }

  // & > div {
  //   flex-grow: 1;
  // }
}