.compSidebar {
  width: 20rem;
  height: 100vh;
  margin-left: 4rem;
  position: fixed;
  z-index: 9999;
}

.main {
  margin-left: calc(4rem);
  width: calc(100vw - calc(4rem));
  padding: 2.5rem 10%;
}

.chart {
  min-height: 35rem;
  max-width: 60%;
  position: relative;
}