@import '../../../styles/colors_light';
@import '../../../styles/animation';

.modal {
  background-color: $n0;
  width: fit-content;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .15);
  padding: 2rem 2rem;
  border-radius: 5px;
  box-sizing: border-box;
  transition: $ease-in-cubic all .4s;
  max-height: 95vh;
  overflow-y: auto;
  position: absolute;
}

.modalContainer {
  position: relative;
}

.bottomLeft {
  top: calc(100% + .5rem);
  left: 0;
}

.bottomLeftOverlap {
  bottom: 0;
  left: 0;
}

.topLeft {
  bottom: calc(100% + .5rem);
  left: 0;
}

.topLeftOverlap {
  top: 0;
  left: 0;
}

.bottomRight {
  top: calc(100% + .5rem);
  right: 0;
}

.bottomRightOverlap {
  bottom: 0;
  right: 0;
}

.topRight {
  bottom: calc(100% + .5rem);
  right: 0;
}

.topRightOverlap {
  top: 0;
  right: 0;
}