@import '../../../styles/animation';

.container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -500;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  transition: $ease-in-out-cubic all .4s;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  &.show {
    opacity: 1;
    z-index: 999999;

    .modalContainer {
      top: 0;
    }
  }
}

.modalContainer {
  z-index: 1;
  position: relative;
  top: 1rem;
  transition: $ease-in-out-cubic all .5s;

  .modal {
    background-color: var(--n0);
    width: fit-content;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .15);
    padding: 2rem 2rem;
    border-radius: 5px;
    box-sizing: border-box;
    transition: $ease-in-cubic all .4s;
    max-height: 95vh;
    overflow-y: auto;
  }

  .closeButton {
    position: absolute;
    top: .75rem;
    right: 1rem;
  }

  &.withCloseIcon {
    .modal { padding: 3.5rem 2.5rem 2rem 2.5rem; }
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0, 0.3);
}