@import '../../../styles/colors_light';
.default {
  position: fixed;
  z-index: -500;
  background-color: $n0;
  width: fit-content;
  border: 1px solid $n500;
  box-shadow: 5px 5px 10px #000000;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-sizing: border-box;
  opacity: 0;
  &.show{
    opacity: 1;
    z-index:9999;
  }
}

.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0, 0.5);
}