@import '../../../styles/colors_light';
.default {
    position: fixed;
    z-index: 500;
    background-color: $n0;
    width: 70vw;
    border: 1px solid $n500;
    box-shadow: 5px 5px 10px #000000;
    padding: 16px;
    left: 15%;
    top: 30%;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    transform: translateY(-100vh);
    opacity: 0;
    &.show{
        transform: translateY(0);
        opacity: 1;
    }
}


@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}