@import '../../../styles/animation';

.modalContainer {
  position: fixed;
  z-index: 99999999;
  left: 50%;
  bottom: -120%;
  transform: translateX(-50%);
  pointer-events: none;
  transition: $ease-in-out-cubic all .6s;

  .closeButton {
    position: absolute;
    top: .75rem;
    right: 1rem;
  }

  &.withCloseIcon {
    .modal { padding: 3.5rem 2.5rem 2rem 2.5rem; }
  }

  &.visible {
    bottom: 2.5rem;
    pointer-events: auto;
  }
}

.modal {
  background-color: var(--n0);
  width: fit-content;
  box-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 5px 10px rgba(0,0,0,.3);
  border-radius: 5px;
  transition: $ease-in-out-cubic all .6s;
  box-sizing: border-box;
  max-height: 30vh;
  overflow-y: auto;
}