@import '../../../styles/animation';

.modal {
  background-color: var(--n0);
  width: fit-content;
  box-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 5px 10px rgba(0,0,0,.3);
  border-radius: 5px;
  box-sizing: border-box;
  transition: $ease-in-out-cubic all .6s;
  max-height: 30vh;
  overflow-y: auto;

  position: fixed;
  z-index: 99999999;
  left: 50%;
  bottom: -120%;
  transform: translateX(-50%);
  // transition: opacity 175ms,transform 175ms,-webkit-transform 175ms;

  pointer-events: none;

  &.visible {
    bottom: 2.5rem;
    pointer-events: auto;
  }
}