 $bg-img: url('../../../assets/login_register_bg.png');

.outer{
  width: 100vw;
  height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: var(--n0) $bg-img no-repeat;
  background-size: 100% 150%;
  background-position: 40vw;
}

.form{
  height:100%;
  margin-left: 11.125rem;
  width: 23.75rem;
  display:flex;
  flex-flow: column;
}

.logoContainer{
  margin-bottom: 7.624375rem;
  height: 3.750625rem;
  .logo{
    height: 3.750625rem;
    margin-right: 1.5rem;
    float:left;
  }
  h3{
    margin-top: 0.4rem;
  }
}

.header{
  margin-bottom: 2.3125rem;
}

.name{
  margin-bottom: 2.8125rem;
  height:2.25rem;
}

.firstName{
  float:left;    
}

.lastName{
  float:right;
}

.emailPassword{
  height: 2.25rem;
  margin-bottom: 3rem;
}

.passwordConfirmed{
  height: 2.25rem;
  margin-bottom: 3.5rem;
}

.signUpButton{
  margin-bottom: 1rem;
}

.signIn{
  color: var(--arc500);
  text-decoration: none;
}

.errors{
  color: var(--r400);
}

.cnfrmModal{
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .alertCircleIcon{
    height: 4rem;
    width: 4rem;
    margin-bottom: 1rem;
    color: var(--n500);
  }

  .buttons{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    button{
      width: 45%;
      height: 3rem;
    }
  }

  h5{
    text-align: center;
    margin-bottom: 0.5rem;
  }

  span{
    text-align: center;
    margin-bottom: 1rem;
  }
}

//smaller 
@media only screen and (max-height: 830px) {
  .logoContainer{
    margin-bottom: 2.8125rem
  }
  .name{
    margin-bottom: 2.8125rem;
    height:2.25rem;
  }
  .passwordConfirmed{
    margin-bottom: 3rem;
  }
}

