apiVersion: v1
kind: ConfigMap
metadata:
  name: es-config
  namespace: arclytics
data:
  elasticsearch.yml: |
    cluster.name: arc-sim-aust
    network.host: "0.0.0.0"
    http.port: "9200"
    bootstrap.memory_lock: false
    discovery.zen.minimum_master_nodes: 1
    xpack.security.enabled: false
    xpack.monitoring.enabled: false
  ES_JAVA_OPTS: -Xms512m -Xmx512m
---
kind: Service
apiVersion: v1
metadata:
  name: elasticsearch
  namespace: arclytics
  labels:
    app: elasticsearch
    service: elasticsearch-persistence
spec:
  clusterIP: None
  ports:
    - name: http
      port: 9200
      protocol: TCP
    - name: inter-node
      port: 9300
      protocol: TCP
  selector:
    app: elasticsearch
---
apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: elasticsearch
  namespace: arclytics
  labels:
    app: elasticsearch
    service: elasticsearch-persistence
    replicaset: ESRepSet
spec:
  serviceName: elasticsearch
  selector:
    matchLabels:
      app: elasticsearch
  replicas: 2
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: elasticsearch
        component: elasticsearch-persistence
        replicaset: ESRepSet
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: replicaset
                      operator: In
                      values:
                        - ESRepSet
                topologyKey: kubernetes.io/hostname
      terminationGracePeriodSeconds: 30
      securityContext:
        fsGroup: 1000
      initContainers:
        - name: fix-permissions
          image: busybox
          command: ['sh', '-c', 'chown -R 1000:1000 /usr/share/elasticsearch/data']
          securityContext:
            privileged: true
          volumeMounts:
            - name: elasticsearch-pvc
              mountPath: /usr/share/elasticsearch/data
        - name: increase-vm-max-map
          image: busybox
          command: ['sysctl', '-w', 'vm.max_map_count=262144']
          securityContext:
            privileged: true
        - name: increase-fd-ulimit
          image: busybox
          command: ['sh', '-c', 'ulimit -n 65536']
          securityContext:
            privileged: true
      containers:
        - name: elasticsearch-container
          image: docker.elastic.co/elasticsearch/elasticsearch:7.3.2
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              cpu: 500m
            requests:
              cpu: 100m
          securityContext:
            privileged: true
            runAsUser: 1000
            capabilities:
              add:
                - IPC_LOCK
                - SYS_RESOURCE
          ports:
            - containerPort: 9200
              name: http
              protocol: TCP
            - containerPort: 9300
              name: inter-node
              protocol: TCP
          env:
            - name: node.name
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name  # Will resolve to elasticsearch-[0,1,2]
            - name: discovery.seed_hosts
              value: 'elasticsearch-0.elasticsearch,elasticsearch-1.elasticsearch'
            - name: cluster.initial_master_nodes
              value: 'elasticsearch-0,elasticsearch-1'
            - name: ES_JAVA_OPTS
              valueFrom:
                configMapKeyRef:
                  name: es-config
                  key: ES_JAVA_OPTS  # JVM to use a minimum and maximum heap size of 512 MB.
          volumeMounts:
            - name: elasticsearch-pvc
              mountPath: /usr/share/elasticsearch/data
            - name: elasticsearch-config
              mountPath: /usr/share/elasticsearch/config/elasticsearch.yml
              subPath: elasticsearch.yml
      volumes:
        - name: elasticsearch-config
          configMap:
            name: es-config
  volumeClaimTemplates:
    - metadata:
        name: elasticsearch-pvc
        labels:
          app: elasticsearch
        annotations:
          volume.beta.kubernetes.io/storage-class: standard
      spec:
        accessModes: [ 'ReadWriteOnce' ]
        resources:
          requests:
            storage: 200Gi
