apiVersion: v1
kind: PersistentVolume
metadata:
  name: redis-pv
  namespace: arclytics
spec:
  capacity:
    storage: 25Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: fast
  gcePersistentDisk:
    pdName: redis-ssd-disk  # Make sure you use the SSD name created in `gcloud`
