// primary colour
$ag700: #1f774e;
$ag600: #248a5b;
$ag500: #299d67;
$ag400: #43a979;
$ag300: #5cb58b;
$ag200: #76c09e;
$ag100: #90ccb0;
$ag50: #a9d8c2;

// red
$r400: #d54e4e;
$r500: #d13d3d;

// orange
$o400: #e58027;
$o500: #e27312;

// lime
$l500: #8b9c21;

// green
$g400: #46a146;
$g500: #349834;

// teal
$t500: #1e9aa8;

// blue
$b500: #1a76b7;

// indigo
$i400: #5d4db3;
$i500: #5e47d1;

// violet
$v500: #853bab;

// magenta
$m500: #b62fa0;

// brown
$br500: #8c564b;

// neutral
$n0: #fafafa;
$n10: #f0f0f0;
$n20: #e9e9e9;
$n50: #d8d8d8;
$n100: #c6c7c7;
$n200: #b5b5b6;
$n300: #a3a4a5;
$n400: #929394;
$n500: #7e7f80;
$n600: #6a6a6b;
$n700: #555556;
$n800: #404041;
$n900: #232323;

// shadow
$base-shadow: 0 4px 6px rgba(0, 0, 0, .25);
$shadow-up: 0 6px 8px rgba(0, 0, 0, .25);

// export
:export {
  ag700: $ag700;
  ag600: $ag600;
  ag500: $ag500;
  ag400: $ag400;
  ag300: $ag300;
  ag200: $ag200;
  ag100: $ag100;
  ag50: $ag50;

  n900: $n900;
  n800: $n800;
  n700: $n700;
  n600: $n600;
  n500: $n500;
  n400: $n400;
  n300: $n300;
  n200: $n200;
  n100: $n100;
  n50: $n50;
  n20: $n20;
  n10: $n10;
  n0: $n0;

  r500: $r500;
  o500: $o500;
  l500: $l500;
  g500: $g500;
  t500: $t500;
  b500: $b500;
  i500: $i500;
  v500: $v500;
  m500: $m500;
  br500: $br500;
}