// primary colour
$ag500: #299d67;

// red
$r400: #d54e4e;
$r500: #d13d3d;

// orange
$o400: #e58027;
$o500: #e27312;

// lime
$l500: #8b9c21;

// green
$g400: #46a146;
$g500: #349834;

// teal
$t500: #1e9aa8;

// blue
$b500: #1a76b7;

// indigo
$i400: #5d4db3;

// violet
$v500: #853bab;

// magenta
$m500: #b62fa0;

// brown
$br500: #8c564b;

// neutral
$n0: #fafafa;
$n10: #f0f0f0;
$n20: #e9e9e9;
$n50: #d8d8d8;
$n100: #c6c7c7;
$n200: #b5b5b6;
$n300: #a3a4a5;
$n400: #929394;
$n500: #7e7f80;
$n600: #6a6a6b;
$n700: #555556;
$n800: #404041;
$n900: #232323;

// shadow
$base-shadow: 0 4px 6px rgba(0, 0, 0, .25);
$shadow-up: 0 6px 8px rgba(0, 0, 0, .25);