@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

/* typefaces */
$font-primary: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
$font-secondary: "Quicksand", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
$font-mono: "Ubuntu Mono", monospace;

/* set base values */
$base-text-size: .875rem;
$base-line-height: 1.25rem;
$base-letter-spacing: .025rem;

/* type scale */
$text-sub2: .6875rem;
$text-sub1: 1rem;
$text-h6: $base-text-size;
$text-h5: 1.125rem;
$text-h4: 1.375rem;
$text-h3: 1.6875rem;
$text-h2: 2.215rem;
$text-h1: 2.6875rem;
$text-btn: $base-text-size;

/* line spacing */
$line-height-h1: 3.375rem;
$line-height-h2: $text-h1;
$line-height-h3: $text-h2;
$line-height-h4: $text-h3;
$line-height-h5: $text-h4;
$line-height-h6: $base-line-height;
$line-height-sub1: 1.375rem;
$line-height-sub2: 1rem;
$line-height-btn: $base-line-height;

/* letter spacing */
$letter-spacing-h1: .025rem;
$letter-spacing-h2: .02rem;
$letter-spacing-h3: -.005rem;
$letter-spacing-h4: 0rem;
$letter-spacing-h5: .015rem;
$letter-spacing-h6: .025rem;
$letter-spacing-sub1: .02rem;
$letter-spacing-sub2: .045rem;
$letter-spacing-btn: .045rem;

* {
  margin: 0;
}

body {
  font-size: $base-text-size;
  font-family: $font-primary;
  font-weight: 400;
  color: var(--n900);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* text size */
h1, .text--h1 {
  font-size: $text-h1;
  line-height: $line-height-h1;
  font-family: $font-secondary;
  letter-spacing: $letter-spacing-h1;
}

h2, .text--h2 {
  font-size: $text-h2;
  line-height: $line-height-h2;
  font-family: $font-secondary;
  letter-spacing: $letter-spacing-h2;
}

h3, .text--h3 {
  font-size: $text-h3;
  line-height: $line-height-h3;
  font-weight: 500;
  font-family: $font-secondary;
  letter-spacing: $letter-spacing-h3;
}

h4, .text--h4 {
  font-size: $text-h4;
  line-height: $line-height-h4;
  font-weight: 600;
  font-family: $font-secondary;
  letter-spacing: $letter-spacing-h4;
}

h5, .text--h5 {
  font-size: $text-h5;
  line-height: $line-height-h5;
  font-weight: 600;
  font-family: $font-secondary;
  letter-spacing: $letter-spacing-h5;
}

h6 {
  font-size: $base-text-size;
  line-height: $line-height-h6;
  font-weight: 600;
  font-family: $font-primary;
  letter-spacing: $letter-spacing-h6;
}

p {
  font-size: $base-text-size;
  line-height: $base-line-height;
  font-family: $font-primary;
  letter-spacing: $base-letter-spacing;
}

.text--btn {
  font-size: $text-btn;
  line-height: $line-height-btn;
  font-weight: 600;
  font-family: $font-primary;
  letter-spacing: $letter-spacing-btn;
}

.text--sub1 {
  font-size: $text-sub1;
  line-height: $line-height-sub1;
  color: var(--n500);
  font-family: $font-primary;
  letter-spacing: $letter-spacing-sub1;
}

.text--sub2 {
  font-size: $text-sub2;
  line-height: $line-height-sub2;
  font-weight: 600;
  color: var(--n500);
  font-family: $font-primary;
  letter-spacing: $letter-spacing-sub2;
}

.text--disabled {
  color: var(--n300);
}

.text--code {
  font-family: $font-mono;
  font-size: $base-text-size;
  line-height: $base-line-height;
  letter-spacing: $letter-spacing-h6;
}