html {
  --arc700: #005a93;
  --arc600: #0068ab;
  --arc500: #0076C2;
  --arc400: #1f86c9;
  --arc300: #3d97d1;
  --arc200: #5ca7d8;
  --arc100: #7ab8df;
  --arc50: #99c8e7;

  --arc500-rgb: 0, 118, 194;

  // red
  --r300: #d96060;
  --r400: #d54e4e;
  --r500: #d13d3d;
  --r500-rgb: 209, 61, 61;

  // orange
  --o300: #e78c3d;
  --o400: #e58027;
  --o500: #e27312;
  --o500-rgb: 226, 115, 18;

  // lime
  --l300: #a0ae49;
  --l400: #95a535;
  --l500: #8b9c21;

  // green
  --g300: #59ab59;
  --g400: #46a146;
  --g500: #349834;

  // teal
  --t300: #47acb8;
  --t400: #32a3b0;
  --t500: #1e9aa8;

  // blue
  --b300: #438fc4;
  --b400: #2f82bd;
  --b500: #1a76b7;

  // indigo
  --i300: #7b68d9;
  --i400: #5d4db3;
  --i500: #5e47d1;

  // violet
  --v300: #9b5eba;
  --v400: #904db3;
  --v500: #853bab;

  // magenta
  --m300: #c354b1;
  --m400: #bd42a9;
  --m500: #b62fa0;

  // brown
  --br300: #a1746b;
  --br400: #96655b;
  --br500: #8c564b;

  // neutral
  --n0: #fafafa;
  --n10: #f0f0f0;
  --n20: #e9e9e9;
  --n50: #d8d8d8;
  --n100: #c6c7c7;
  --n200: #b5b5b6;
  --n300: #a3a4a5;
  --n400: #929394;
  --n500: #7e7f80;
  --n600: #6a6a6b;
  --n700: #555556;
  --n800: #404041;
  --n900: #232323;

  --n500-rgb: 126, 127, 128;
  --n50-rgb: 216, 216, 216;
  --n10-rgb: 240, 240, 240;
  --n900-rgb: 35, 35, 35;

  --g400-rgb: 70, 161, 70;
  --r400-rgb: 213, 78, 78;
  --o400-rgb: 229, 128, 39;
}

html[data-theme="dark"] {
  --arc700: #005a93;
  --arc600: #0068ab;
  --arc500: #0076C2;
  --arc400: #1f86c9;
  --arc300: #3d97d1;
  --arc200: #5ca7d8;
  --arc100: #7ab8df;
  --arc50: #99c8e7;

  // red
  --r400: #d54e4e;
  --r500: #d13d3d;

  // orange
  --o400: #e58027;
  --o500: #e27312;

  // lime
  --l500: #8b9c21;

  // green
  --g400: #46a146;
  --g500: #349834;

  // teal
  --t500: #1e9aa8;

  // blue
  --b500: #1a76b7;

  // indigo
  --i400: #5d4db3;
  --i500: #5e47d1;

  // violet
  --v500: #853bab;

  // magenta
  --m500: #b62fa0;

  // brown
  --br500: #8c564b;

  // neutral
  --n900: #fafafa;
  --n800: #f0f0f0;
  --n700: #e9e9e9;
  --n600: #d8d8d8;
  --n500: #c6c7c7;
  --n400: #b5b5b6;
  --n300: #a3a4a5;
  --n200: #929394;
  --n100: #7e7f80;
  --n50: #6a6a6b;
  --n20: #555556;
  --n10: #404041;
  --n0: #232323;
}
