@import '../../../styles/colors_light';

.base {
  border: none;
  outline: none;
  width: 7.5rem;
  height: 2.5rem;
  padding: 0 .75rem;
  border-radius: 6px;
  transition: ease-in-out .4s;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.default {
  @extend .base;
  // default buton style
  background-color: $arc500;
  border: 2px solid $arc500;
  color: $n0;
  box-shadow: $base-shadow;

  &:hover {
    background-color: adjust-color($color: $arc500, $saturation: 20%);
    border-color: adjust-color($color: $arc500, $saturation: 20%);
    box-shadow: $shadow-up;
  }

  &.disabled {
    background-color: $n300;
    border-color: $n300;
    color: $n50;
  }

  & > .icon {
    height: 1rem;
    width: 1rem;
    margin-right: .5rem;
    flex-shrink: 0;
  }

  &.dangerous {
    background-color: $r400;
    border-color: $r400;
  
    &:hover {
      background-color: adjust-color($color: $r400, $saturation: 20%);
      border-color: adjust-color($color: $r400, $saturation: 20%);
      box-shadow: $shadow-up;
    }
  }
  
  &.warning {
    background-color: $o400;
    border-color: $o400;
    color: $n900;
  
    &:hover {
      background-color: adjust-color($color: $o400, $saturation: 20%);
      border-color: adjust-color($color: $o400, $saturation: 20%);
      box-shadow: $shadow-up;
    }
  }
}

.outline {
  @extend .base;
  background-color: transparent;
  color: $arc500;
  border: 2px solid $arc500;
  box-shadow: none;

  &:hover {
    background-color: adjust-color($color: $arc500, $saturation: 20%);
    border-color: adjust-color($color: $arc500, $saturation: 20%);
    box-shadow: none;
    color: $n0;
  }

  &.dangerous {
    border-color: $r400;
    color: $r400;
  
    &:hover {
      background-color: adjust-color($color: $r400, $saturation: 20%);
      color: $n0;
      border-color: adjust-color($color: $r400, $saturation: 20%);
      box-shadow: none;
    }
  }
  
  &.warning {
    border-color: $o400;
    color: $n900;
  
    &:hover {
      background-color: adjust-color($color: $o400, $saturation: 20%);
      color: $n0;
      border-color: adjust-color($color: $o400, $saturation: 20%);
      box-shadow: none;
    }
  }

  &.disabled {
    background-color: transparent;
    border-color: $n100;
    color: $n100;
  }

  & > .icon {
    height: 1rem;
    width: 1rem;
    margin-right: .5rem;
    flex-shrink: 0;
  }
}

.text {
  @extend .base;
  background-color: transparent;
  color: $arc500;
  border: none;
  box-shadow: none;

  &:hover {
    background-color: $n50;
    box-shadow: none;
  }

  &.dangerous {
    color: $r400;
    background-color: transparent;
    border: none;
    box-shadow: none;
  
    &:hover {
      background-color: rgba($color: $r500, $alpha: .1);
    }
  }
  
  &.warning {
    color: $o400;
  
    &:hover {
      background-color: rgba($color: $o500, $alpha: .1);
    }
  }

  &.disabled {
    background-color: transparent;
    border: none;
    color: $n100; 

    &:hover {
      background-color: transparent;
    }
  }

  & > .icon {
    height: 1rem;
    width: 1rem;
    margin-right: .5rem;
    flex-shrink: 0;
  }
}

.disabled {
  cursor: not-allowed;
}

.short {
  width: 5rem;
}

.long {
  width: 10rem;
}