.base {
  border: none;
  outline: none;
  width: 7.5rem;
  height: 2.5rem;
  padding: 0 .75rem;
  border-radius: 6px;
  transition: ease-in-out .4s;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.default {
  @extend .base;
  // default buton style
  background-color: var(--arc500);
  border: 2px solid var(--arc500);
  color: var(--n0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .25);

  &:hover {
    background-color: var(--arc500);
    border-color: var(--arc500);
    box-shadow: 0 6px 8px rgba(0, 0, 0, .25);
  }

  &.disabled {
    background-color: var(--n300);
    border-color: var(--n300);
    color: var(--n50);
  }

  & > .icon {
    height: 1rem;
    width: 1rem;
    margin-right: .5rem;
    flex-shrink: 0;
  }

  &.dangerous {
    background-color: var(--r400);
    border-color: var(--r400);
  
    &:hover {
      background-color: var(--r400);
      border-color: var(--r400);
      box-shadow: 0 6px 8px rgba(0, 0, 0, .25);
    }
  }
  
  &.warning {
    background-color: var(--o400);
    border-color: var(--o400);
    color: var(--n900);
  
    &:hover {
      background-color: var(--o400);
      border-color: var(--o400);
      box-shadow: 0 6px 8px rgba(0, 0, 0, .25);
    }
  }
}

.outline {
  @extend .base;
  background-color: transparent;
  color: var(--arc500);
  border: 2px solid var(--arc500);
  box-shadow: none;

  &:hover {
    background-color: var(--arc500);
    border-color: var(--arc500);
    box-shadow: none;
    color: var(--n0);
  }

  &.dangerous {
    border-color: var(--r400);
    color: var(--r400);
  
    &:hover {
      background-color: var(--r400);
      color: var(--n0);
      border-color: var(--r400);
      box-shadow: none;
    }
  }
  
  &.warning {
    border-color: var(--o400);
    color: var(--n900);
  
    &:hover {
      background-color: var(--o400);
      color: var(--n0);
      border-color: var(--o400);
      box-shadow: none;
    }
  }

  &.disabled {
    background-color: transparent;
    border-color: var(--n100);
    color: var(--n100);
  }

  & > .icon {
    height: 1rem;
    width: 1rem;
    margin-right: .5rem;
    flex-shrink: 0;
  }
}

.text {
  @extend .base;
  background-color: transparent;
  color: var(--arc500);
  border: none;
  box-shadow: none;

  &:hover {
    background-color: var(--n50);
    box-shadow: none;
  }

  &.dangerous {
    color: var(--r400);
    background-color: transparent;
    border: none;
    box-shadow: none;
  
    &:hover {
      background-color: rgba(var(--r500-rgb), .1);
    }
  }
  
  &.warning {
    color: var(--o400);
  
    &:hover {
      background-color: rgba(var(--o500-rgb), .1);
    }
  }

  &.disabled {
    background-color: transparent;
    border: none;
    color: var(--n100); 

    &:hover {
      background-color: transparent;
    }
  }

  & > .icon {
    height: 1rem;
    width: 1rem;
    margin-right: .5rem;
    flex-shrink: 0;
  }
}

.disabled {
  cursor: not-allowed;
}

.short {
  width: 5rem;
}

.long {
  width: 10rem;
}