@import '../../../styles/animation';

.button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: $ease-in-quad .3s;

  & .icon {
    height: 1.25rem;
    width: 1.25rem;
    stroke: var(--n500);
    flex-shrink: 0;
  }

  &:hover {
    background-color: var(--n10);
  }

  &.disabled {
    background-color: rgba(var(--n10-rgb), $alpha: .5);
    cursor: not-allowed;
    .icon {
      stroke: rgba(var(--n500-rgb), $alpha: .3);
    }
  }
}