@import '../../../styles/colors.scss';

$break-small: 1400px;
$break-medium: 1600px;

.container {
  width: 90%;
  margin: auto;

  h3 {
    margin-bottom: 2.5rem;
  }

  h4 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  h5 {
    margin-top: 1.75rem;
    margin-bottom: 0.75rem;
  }

  .nerdyData {
    display: flex;
    margin-top: 1.25rem;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    .nerdyDataCard {
      min-height: 12rem;
      max-height: 15rem;
      margin-top: 1.25rem;
      padding: 0;
      display: flex;
      min-width: 15.5%;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;

      & > .cardIcon {
        width: 2.25rem;
        height: 2.25rem;
      }

      @media screen and (min-width: $break-medium) {
        width: 15.5%;
      }

      @media screen and (max-width: $break-medium) {
        flex-basis: 32.5%;
        width: 15.5%;
        min-width: 15.5%;
      }

    }
  }

  .map {
    margin-top: 1.25rem;
    min-height: 35rem;

    .mapCard {
      flex-basis: 90%;
      min-height: 35rem;
      max-height: 42rem;
      min-width: 90%;
      margin: 0;
      z-index: 1;
      position: relative;
      display: flex;
      flex-flow: column;

      & > div {
        flex-grow: 1;
      }
    }
  }

  .profileCharts {
    display: flex;
    margin-top: 1.25rem;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 50%;

    .profileCard {
      z-index: 1;
      position: relative;
      display: flex;
      flex-flow: column;
      width: 48%;
      margin: 0.75rem 0;
      min-height: 24rem;
      max-height: 32rem;
      padding: 1.5rem 0.75rem 0 0.75rem;

      & > div {
        flex-grow: 1;
      }

      @media screen and (max-width: $break-small) {
        min-width: 100%;
      }

      @media screen and (min-width: $break-small) {
        min-width: 45%;
      }
    }
  }

}
