@import '../../../styles/animation';

.checkbox {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;

  // hide default checkbox
  input[type="checkbox"] {
    opacity: 0;
    height: 1rem;
    width: 1rem;
    z-index: 1;
    margin-right: 1rem;
    cursor: pointer;
  }

  // custom checkbox
  .checkmark {
    position: absolute;
    left: 0;
    align-self: center;
    width: 1rem;
    height: 1rem;
    border-radius: 3px;
    border: 1px solid var(--n500);
    z-index: 0;
    transition: $ease-in-quad .3s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icon {
      width: .85rem;
      height: .85rem;
      color: var(--n0);
      opacity: 0;
    }
  }

  input[type="checkbox"]:checked ~ .checkmark {
    background-color: var(--arc500);
    border: 1px solid var(--arc500);

    .icon {
      opacity: 1;
    }
  }

  input[type="checkbox"]:focus ~ .checkmark {
    box-shadow: inset 0 0 1px 1px var(--arc500);
  }

  &.disabled {
    .checkmark { border: 1px solid var(--n100); }
    span { color: var(--n300) }
    input[type="checkbox"]:checked ~ .checkmark {
      background-color: var(--n100);
      border: 1px solid var(--n100);
    }
  }
}