.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 1.5rem;
  height: 90vh;
}

.refreshButton, h2, span {
  margin-bottom:1rem;
}

h2, span {
  text-align:center;
}

.warningImage {
  height: 30vh;
  width: initial;
  margin-bottom: 2rem;
}

