.container {
  width: 80%;
  margin: auto;

  h3 {
    margin-bottom: 2.5rem;
  }

  .tools {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    width: 100%;

    & > .searchBar {
      width: 50%;
      &:focus {
        width: 100%;
      }
    }

    & > .searchBtn {
      margin-left: 2.5rem;
    }

    & > .clearBtn {
      margin-left: 1.25rem;
    }
  }
}

.actions {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
